$textColor: #bdbdbd;

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.dashboard {
    height: 100vh;
    overflow:auto;
    .hero {
        position: fixed;
        inset: 0;
        pointer-events: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        h1 {
            position: relative;
            font-size: 65px;
            font-weight: 400;
            margin: 0 0 20px 0;
            font-family: "Allerta Stencil", sans-serif;
            background: linear-gradient(to right, #464646 calc(20% + 5px), #808080 calc(20% + 10px), #464646 30%);
            background-size: 200% auto;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 6s linear infinite;
            &:before {
                content: "Reactizy";
                position: absolute;
                text-shadow: 0px 0px 3px #da0000, 2px 2px 3px #ffffff;
                color: black;
                z-index: -1;
            }
        }
        h2 {
            margin: 0;
        }
    }
}

.icon_board {
    display: flex;
    flex-direction: column;
    align-items: start;
    transform-style: preserve-3d;
    perspective: 1600px;
    .icon {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        min-width: 80px;
        margin: 20px 20px 0px 20px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.52);
        height: 90px;
        border-radius: 3px;
        border: 1px dashed #00939a;
        transition: transform 0.6s ease;
        transform: rotateY(45deg);
        transform-origin: left center;
        > svg {
            font-size: 35px;
            filter: drop-shadow(0px 0px 1px #52d3ff);
            transition: filter 0.3s ease, fill 0.3s ease;
            fill: #00939a;
            margin: 5px 0;
        }
        > span {
            display: inline-block;
            font-size: 12px;
            max-width: 75px;
            text-align: center;
            transition: color 0.6s ease;
            margin-top: auto;
            margin-bottom: 5px;
        }

        &:hover {
            transform: rotateY(0deg);
            transform-style: preserve-3d;
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.25);
                position: absolute;
                transform-origin: left;
                transform: rotateY(45deg);
                border-radius: 3px;
                border: 1px dashed #00939a;
            }
            > svg {
                filter: drop-shadow(50px 0px 4px #52d3ff);
                fill: #52d3ff;
            }
            > span {
                color: white;
            }
        }
    }
}

.windows {
    background-blend-mode: multiply;
    background-image: url(https://wallpapercave.com/wp/zaJpv7S.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    .window_container {
        &:not(.window_active) {
            backdrop-filter: blur(1px);
            .window {
                background: rgba(39, 39, 39, 0.47) !important;
                .decorator {
                    color: #636363 !important;
                    background: linear-gradient(45deg, #000000, rgba(25, 25, 25, 0.95) 52%) !important;
                }
            }
        }
        &.window_active {
            backdrop-filter: blur(15px);
        }
        &.fullscreen {
            .window .decorator .title:before {
                content: "Reactizy - ";
            }
        }
    }
    .react-resizable-handle-se {
        cursor: se-resize;
    }
    .window {
        opacity: 0.6;
        filter: blur(1px);
        box-shadow: inset 0 2px 2px 0px #7d7d7d;
        border: none !important;
        transition: opacity 0.3s ease, filter 0.3s ease;
        .window_content {
            overflow: auto;
            padding: 10px;
            height: calc(100% - 44px) !important;
        }
        .decorator {
            color: #636363 !important;
            background: linear-gradient(45deg, #033648, rgba(25, 25, 25, 0.95) 52%) !important;
        }
    }
    .window_active {
        .window {
            background: transparent !important;
            opacity: 1;
            filter: blur(0px);
            .decorator {
                color: #dedede !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .dashboard .hero {
        justify-content: flex-end;
        padding-bottom: 50px;
        h1 {
            background-image: linear-gradient(to right, black calc(20% + 5px), #808080 calc(20% + 10px), black 30%);
        }
    }
    .icon_board {
        flex-direction: row;
        flex-wrap: wrap;
        .icon {
            width: calc(50% - 42px);
            &,
            &:hover {
                transform: none;
                background: black;
            }
        }
    }

    .window_container {
        top: 0px !important;
        left: 0px !important;
        transform: none !important;
        height: 100vh !important;
        width: 100vw !important;

        .decorator_toggle{
          display:none !important;
        }
    }
}
