[name='homepage']{
    height: calc(100vh - 110px);
    display:flex;
    flex-direction:column;
    align-items:center;
    h1 {
        font-size: 55px;
        font-family: 'Allerta Stencil', sans-serif !important;
        font-weight: 400;
        margin-top:0;
    }

    b {
        color: #2bb2d6;
        font-weight:500;
    }

    ul {
        padding:0;
        li {
            line-height:2em;
        }
    }

}
